/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("desktop-wallpaper-best-website-for-group.jpg");


}
.titulo{
font-size: 50px;
text-align: center;

}
.img{
    height:400px ;
    width: 600px; 
    background-image: url("circuitos-eléctricos.jpg");
    background-repeat: no-repeat;
    float: left;
}

.IMG1{

height: 500px;
width: 500px;
background-image: url("imagen\ uno.jpg");
float: left;

}

.IMG2{

    height: 400px;
    width: 500px;
    background-image: url("bulimia.jpg");
    float: right;




}

.IMG3{

    height: 410px;
    width: 400px;
    background-image: url("tomaragua.jpg");
    float: center;




}
.IMG4{


    height: 410px;
    width: 410px;
    background-image: url("comer.jpg");
    float: center;



}
.IMG5{

    height: 410px;
    width: 470px;
    background-image: url("ejercicio.jpg");
    float: center;





}
.IMG6{

    height: 410px;
    width: 470px;
    background-image: url("lavarmanos.jpg");
    float: center;






}
.IMG7{

    height: 410px;
    width: 470px;
    background-image: url("dormir.jpg");
    float: center;




}
.IMG8{

    height: 400px;
    width: 470px;
    background-image: url("cepillar.jpg");
    float: center;






}
.IMG9{

    height: 390px;
    width: 470px;
    background-image: url("dulces.jpg");
    float: center;







}
.IMG10{

    height: 390px;
    width: 470px;
    background-image: url("tv.jpg");
float: center;
background-repeat: no-repeat;

}

.IMG11{

    height: 390px;
    width: 470px;
    background-image: url("fumar.jpg");
    float: center;




}
.IMG12{

    height: 400px;
    width: 480px;
    background-image: url("drogas.jpg");
    float: center;




}
.IMG13{

    height: 400px;
    width: 480px;
    background-image: url("comer2.jpg");
    float: center;
background-repeat: no-repeat;



}
.IMG14{

    height: 500px;
    width: 700px;
    background-image: url("nodulces.jpg");
    float: center;









}







