/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(63, 29, 48);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondo.avif");


}



.imagen{ 
      height:400px ;
      width:  600px; 
      background-image: url("Independencia\ colonias\ americanas\ mapa\ mental\ .png");
      background-repeat:no-repeat
      float: left;
  }
  